<!DOCTYPE html>
<html>
    <head>
        <!-- <link rel="stylesheet" type="text/css" href="css/style.css" /> -->
        <meta charset="utf-8">
        <title>Classifier</title>
    </head>
	<body>
		<h1>Classifier</h1>

		<div>
			Upload audio file:
            <input type="file" id="file-input"/>
            <button id="upload-button">Upload</button><br>
            <button id>
		</div>

		<script type="text/javascript">
            var uploadButton = document.getElementById("upload-button");

            const handleImageUpload = event => {
                const files = event.target.files
                const formData = new FormData()
                formData.append('myFile', files[0])

                fetch('upload_file_worker', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data.path)
                })
                .catch(error => {
                    console.error(error)
                })
            }

            document.querySelector('#file-input').addEventListener('change', event => {
                handleImageUpload(event)
            })
		</script>
	</body>
</html>
