<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/style.css">
	    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Work+Sans:300,400,700" rel="stylesheet">
	    <link rel="stylesheet" href="fonts/icomoon/style.css">

	    <link rel="stylesheet" href="css/bootstrap.min.css">
	    <link rel="stylesheet" href="css/magnific-popup.css">
	    <link rel="stylesheet" href="css/jquery-ui.css">
	    <link rel="stylesheet" href="css/owl.carousel.min.css">
	    <link rel="stylesheet" href="css/owl.theme.default.min.css">
	    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
	    <link rel="stylesheet" href="css/animate.css">

	    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

	    <link rel="stylesheet" href="css/aos.css">

	    <link rel="stylesheet" href="css/neostyle.css">
		<title>Classifier</title>
	</head>

	<body>
		<div class="navbar navbar-dark navbar-expand-sm fixed-top">
			<div class="container">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="Navbar">
					{{#if auth}}
						<ul class="navbar-nav mr-auto">
							<li class="nav-item"><a class="nav-link" href="./"><span class="fa fa-home fa-lg"></span> Home</a></li>
							<li class="nav-item"><a class="nav-link" href="./about"><span class="fa fa-info fa-lg"></span> About</a></li>
							<li class="nav-item"><a class="nav-link" href="./log"><span class="fa fa-address-card fa-lg"></span>My Logs</a></li>
							<li class="nav-item active"><a class="nav-link" href="./classifier"><span class="fa fa-address-card fa-lg"></span>Classifier</a></li>
						</ul>
						<span class="navbar-text">
							<a id="logoutButton" onclick="logout()">
								<span class="fa fa-sign-in"></span> Log Out
							</a>
						</span>
					{{else}}
						<ul class="navbar-nav mr-auto">
							<li class="nav-item active"><a class="nav-link" href="./"><span class="fa fa-home fa-lg"></span> Home</a></li>
							<li class="nav-item"><a class="nav-link" href="./about"><span class="fa fa-info fa-lg"></span> About</a></li>
						</ul>
						<span class="navbar-text">
							<a id="login-modal-button">
								<span class="fa fa-sign-in"></span> Login
							</a>
							<a id="register-modal-button">
								<span class="fa fa-sign-in"></span> Register
							</a>
						</span>
					{{/if}}
				</div>
			</div>
		</div>

		<br>
		<h1>Classifier</h1>
		<h2>Welcome '{{username}}'</h2>

		<div>
			<p id="has-base-audio-text"></p>
			<button id="reset-base-audio-button">Reset Base Audio</button>
			<br><br>
		</div>

		<div>
			Upload audio file:
			<input type="file" accept="audio/*" id="file-input" />
			<button id="upload-file-button">Upload File</button><br>
			<br>
		</div>

		<div>
			Record voice:
			<button id="start-record-button">Start</button>
			<button id="stop-record-button">Stop</button>
			<br>
			<button id="upload-record-button">Upload Recording</button>
			<br>
			<p id="record-status-text"></p>
			<audio id="recorded-audio"></audio>
		</div>

		<p id="upload-status-text"></p>

		<img id="diff-image" width="40%">

		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript">
			function b64(e){var t="";var n=new Uint8Array(e);var r=n.byteLength;for(var i=0;i<r;i++){t+=String.fromCharCode(n[i])}return window.btoa(t)};

			var username = "{{{username}}}";

			var socket = io();
			socket.emit("username", {id: username});

			var hasBaseAudioText = document.getElementById("has-base-audio-text");
			var hasBaseAudio = false;
			socket.on("hasBaseAudio", function(data) {
				hasBaseAudio = data.status;
				hasBaseAudioText.innerHTML = "Has base audio: " + hasBaseAudio;
				resetBaseAudioButton.disabled = !hasBaseAudio;
			});

			var resetBaseAudioButton = document.getElementById("reset-base-audio-button");
			resetBaseAudioButton.onclick = function () {
				socket.emit("resetBaseAudio", {id: username});
			};

			var diffImage = document.getElementById("diff-image");
			socket.on("diffImage", function(data) {
				console.log("Received diffImage")
				diffImage.src = data;
			});

			var uploadStatusText = document.getElementById("upload-status-text")
			var userHealthText = document.getElementById("user-health-text");

			var fileInput = document.getElementById("file-input");
			var uploadFileButton = document.getElementById("upload-file-button");
			uploadFileButton.onclick = function() {
				handleFileUpload(fileInput.files[0], "file");
			}

			function handleFileUpload(file, uploadType) {
				const formData = new FormData();
				var keyName = username + "*";
				if (!hasBaseAudio) {
					keyName += "base";
				} else {
					keyName += "new";
				}
				formData.append(keyName, file);
				uploadStatusText.innerHTML = "Processing...";

				fetch('/classifier/upload_file_worker', {
					method: 'POST',
					body: formData,
				})
				.then(response => response.json())
				.then(data => {
					console.log("Success " + data.audioType);
					if (data.audioType == "base") {
						uploadStatusText.innerHTML = "Saved the base audio";
					} else {
						uploadStatusText.innerHTML = "Results: " + data.num;
						// add image to canvas
					}
				})
				.catch(error => {
					console.error(error)
				})
			}

			// all recording code
		</script>

		<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
		<script src="js/record.js"></script>
		<script src="js/index.js"></script>
		<footer>
			<p>
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
			</p>
		</footer>
	</body>

</html>
