<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Work+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="../public/fonts/icomoon/style.css">

    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/magnific-popup.css">
    <link rel="stylesheet" href="../public/css/jquery-ui.css">
    <link rel="stylesheet" href="../public/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../public/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../public/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="../public/css/animate.css">    
    
    <link rel="stylesheet" href="../public/fonts/flaticon/font/flaticon.css">
  
    <link rel="stylesheet" href="../public/css/aos.css">

    <link rel="stylesheet" href="../public/css/neostyle.css">
	<title>MyCovidTracker</title>
</head>

<body>
	<div class="navbar navbar-dark navbar-expand-sm fixed-top">
		<div class="container">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="Navbar">
				{{#if auth}}
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active"><a class="nav-link" href="#"><span class="fa fa-home fa-lg"></span> Home</a></li>
						<li class="nav-item"><a class="nav-link" href="./about"><span class="fa fa-info fa-lg"></span> About</a></li>
						<li class="nav-item"><a class="nav-link" href="./log"><span class="fa fa-address-card fa-lg"></span>My Logs</a></li>
						<li class="nav-item"><a class="nav-link" href="./classifier"><span class="fa fa-address-card fa-lg"></span>Classifier</a></li>
					</ul>
					<span class="navbar-text">
						<a id="logoutButton" onclick="logout()">
							<span class="fa fa-sign-in"></span> Log Out
						</a>
					</span>
				{{else}}
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active"><a class="nav-link" href="#"><span class="fa fa-home fa-lg"></span> Home</a></li>
						<li class="nav-item"><a class="nav-link" href="./about"><span class="fa fa-info fa-lg"></span> About</a></li>
					</ul>
					<span class="navbar-text">
						<a id="login-modal-button">
							<span class="fa fa-sign-in"></span> Login
						</a>
						<a id="register-modal-button">
							<span class="fa fa-sign-in"></span> Register
						</a>
					</span>
				{{/if}}
			</div>
		</div>
	</div>
	<div id="loginModal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg" role="content">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Login </h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<form id="loginForm">
						<div class="form-row">
							<div class="form-group col-sm-6">
								<label class="sr-only" for="loginUsername">Username</label>
								<input class="form-control form-control-sm mr-1" id="loginUsername" placeholder="Username">
							</div>
							<div class="form-group col-sm-6">
								<label class="sr-only" for="loginPassword">Password</label>
								<input type="password" class="form-control form-control-sm mr-1" id="loginPassword" placeholder="Password">
							</div>
						</div>
						<div class="form-row">
							<button type="button" class="btn btn-secondary btn-sm ml-auto" data-dismiss="modal">Cancel</button>
							<button type="button" class="btn btn-primary btn-sm ml-1" onclick="loginForm()">Sign in</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div id="registerModal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg" role="content">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Register </h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<form id="registerForm">
						<div class="form-row">
							<div class="form-group col-sm-6">
								<label class="sr-only" for="registerUsername">Username</label>
								<input type="email" class="form-control form-control-sm mr-1" id="registerUsername" placeholder="Username">
							</div>
							<div class="form-group col-sm-6">
								<label class="sr-only" for="registerPassword">Password</label>
								<input type="password" class="form-control form-control-sm mr-1" id="registerPassword" placeholder="Password">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-sm-6">
								<label class="sr-only" for="registerFirst">First Name</label>
								<input class="form-control form-control-sm mr-1" id="registerFirst" placeholder="First Name">
							</div>
							<div class="form-group col-sm-6">
								<label class="sr-only" for="registerLast">Last Name</label>
								<input class="form-control form-control-sm mr-1" id="registerLast" placeholder="Last Name">
							</div>
						</div>
						<div class="form-row">
							<button type="button" class="btn btn-secondary btn-sm ml-auto" data-dismiss="modal">Cancel</button>
							<button type="button" class="btn btn-primary btn-sm ml-1" onclick="registerForm()">Register</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


	<body>
	    <div class="slide-one-item home-slider owl-carousel">
	      
	      <div class="site-blocks-cover inner-page overlay" style="background-image: url(../public/imgs/homepage.jpeg);" data-aos="fade" data-stellar-background-ratio="0.5">
	        <div class="container">
	          <div class="row align-items-center justify-content-center">
	            <div class="col-md-6 text-center" data-aos="fade">
	              <h1 class="font-secondary  font-weight-bold text-uppercase">Welcome to My Covid Tracker</h1>
	            </div>
	          </div>
	        </div>
	      </div>  
	    </div>
	    <div class="slant-1" ></div>
        <div class="slant-1" ></div>
        <div class="site-section first-section" style = "background-color: #FFF">
      		<div class="container" style = "background-color: #FFF">
	        <div class="row mb-5">
	          <div class="col-md-12 text-center" data-aos="fade"> 
	            <span class="caption d-block mb-2 font-secondary font-weight-bold">Functionalities Of</span>
	            <h2 class="site-section-heading text-uppercase text-center font-secondary">My Covid Tracker</h2>
	          </div>
	        </div>
	        <div class="row border-responsive"style = "background-color: #FFF">
	          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0 border-right" data-aos="fade-up" data-aos-delay="">
	            <div class="text-center">
	              <span class="display-4 d-block mb-3 text-primary"></span>
	              <h3 class="text-uppercase h4 mb-3">Log Symptoms</h3>
	              <p>An easy way to keep track of how you've been feeling</p>
	            </div>
	          </div>
	          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0 border-right" data-aos="fade-up" data-aos-delay="100">
	            <div class="text-center">
	              <span class=" display-4 d-block mb-3 text-primary"></span>
	              <h3 class="text-uppercase h4 mb-3">Detect Illness</h3>
	              <p>The computer detects small changes in vocal inflection and warns at potential illness</p>
	            </div>
	          </div>
	          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0 border-right" data-aos="fade-up" data-aos-delay="200">
	            <div class="text-center">
	              <span class="display-4 d-block mb-3 text-primary"></span>
	              <h3 class="text-uppercase h4 mb-3">Share your report</h3>
	              <p>Easily let your doctor know how you've been doing over the course of your illness</p>
	            </div>
	          </div>
	          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0 border-right" data-aos="fade-up" data-aos-delay="200">
	            <div class="text-center">
	              <span class="display-4 d-block mb-3 text-primary"></span>
	              <h3 class="text-uppercase h4 mb-3">Minimize the Spread of Covid-19</h3>
	              <p>Understand your symptoms and think twice before going out</p>
	            </div>
	          </div>
	        </div>
      		</div>
    	</div>
    	<div class="site-half" style = "background: white">
		    <div class="img-bg-1" style="background-image: url('../public/imgs/examplegraph.png');" data-aos="fade"></div>
		    <div class="container">
		      <div class="row no-gutters align-items-stretch">
		        <div class="col-lg-5 ml-lg-auto py-5">
		          <span class="caption d-block mb-2 font-secondary font-weight-bold">How To Use</span>
		          <h2 class="site-section-heading text-uppercase font-secondary mb-5">Logging Symptoms</h2>
		          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus aliquid eius facilis voluptatem eligendi magnam accusamus vel commodi asperiores sint rem reprehenderit nobis nesciunt veniam qui fugit doloremque numquam quod.</p>

		          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora distinctio ipsam nesciunt recusandae repellendus asperiores amet.</p>  
		        </div>
		      </div>
		    </div>
	  	</div>
	    <div class="site-half block" style = "background: white">
		    <div class="img-bg-1 right" style="background-image: url('../src/sound-difference.png');" data-aos="fade"></div>
		    <div class="container">
		      <div class="row no-gutters align-items-stretch">
		        <div class="col-lg-5 mr-lg-auto py-5">
		          <span class="caption d-block mb-2 font-secondary font-weight-bold">Advanced Analytics</span>
		          <h2 class="site-section-heading text-uppercase font-secondary mb-5">Vocal Inflection Classifier</h2>
		          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus aliquid eius facilis voluptatem eligendi magnam accusamus vel commodi asperiores sint rem reprehenderit nobis nesciunt veniam qui fugit doloremque numquam quod.</p>

		          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora distinctio ipsam nesciunt recusandae repellendus asperiores amet.</p>  
		        </div>
		      </div>
		    </div>
  		</div>
	</body>
	<footer>
        <p style = "font-size: 5px">
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
    </footer>
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.js"></script>
	<script src="../public/js/index.js"></script>
	  <script src="../public/js/jquery-3.3.1.min.js"></script>
	  <script src="../public/js/jquery-migrate-3.0.1.min.js"></script>
	  <script src="../public/js/jquery-ui.js"></script>
	  <script src="../public/js/popper.min.js"></script>
	  <script src="../public/js/bootstrap.min.js"></script>
	  <script src="../public/js/owl.carousel.min.js"></script>
	  <script src="../public/js/jquery.stellar.min.js"></script>

	  <script src="../public/js/jquery.waypoints.min.js"></script>
	  <script src="../public/js/jquery.animateNumber.min.js"></script>
	  <script src="../public/js/aos.js"></script>

	  <script src="../public/js/main.js"></script>
</body>

</html>