<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
	<title>MyCovidTracker</title>
</head>

<body>
	<div class="navbar navbar-dark navbar-expand-sm fixed-top">
		<div class="container">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="Navbar">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="#"><span class="fa fa-home fa-lg"></span> Home</a></li>
					<li class="nav-item"><a class="nav-link" href="./about"><span class="fa fa-info fa-lg"></span> About</a></li>
					<li class="nav-item active"><a class="nav-link" href="./log"><span class="fa fa-address-card fa-lg"></span>My Logs</a></li>
					<li class="nav-item"><a class="nav-link" href="./classifier"><span class="fa fa-address-card fa-lg"></span>Classifier</a></li>
				</ul>
				<span class="navbar-text">
					<a id="logoutButton" onclick="logout()">
						<span class="fa fa-sign-in"></span> Log Out
					</a>
				</span>
			</div>
		</div>
	</div>
	<br><br><br>
	<header>
		<div class="container">
			<div class="row row-content align-items-center">
				<div class="col-12 col-sm-6">
					<h1>MyCovidTracker</h1>
				</div>
			</div>
		</div>
	</header>
	<div class="slidecontainer" style='padding:10px'>
		<h3>Heartrate</h3>
		<input type="range" min="40" max="200" value="80" class="slider" id="heartmyRange">
		<div id="heart" style='font-size:18px'>80</div>
	</div>
	<div class="slidecontainer" style='padding:10px'>
		<h3>Body Temperature</h3>
		<input type="range" min="90" max="110" value="97.6" step='0.1' class="slider" id="tempmyRange">
		<div id="temp" style='font-size:18px'>97.6</div>
	</div>
	<div id="symptoms" style='padding: 10px'>
		<h3>Additional Symptoms</h3>
		<button type="button" class="btn btn-primary btn-circle btn-xl"><i class="fa">Chest Pain</i>
		</button>
		<button type="button" class="btn btn-success btn-circle btn-xl"><i class="fa">Cough</i>
		</button>
		<button type="button" class="btn btn-info btn-circle btn-xl"><i class="fa">Shortness of Breath</i>
		</button>
		<button type="button" class="btn btn-warning btn-circle btn-xl"><i class="fa">Fatigue</i>
		</button>
		<button type="button" class="btn btn-danger btn-circle btn-xl"><i class="fa">Muscle Ache</i>
		</button>
	</div>


	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.js"></script>
	<script src="js/tracking.js"></script>
	<script src="js/index.js"></script>

</body>